/* .container{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    margin-top: 20px;
} */
.head{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    font-size: 4vw;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, serif; 
}
.ver{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    font-size: 2vw;
    font-weight: 100;
    font-family: Verdana, Geneva, Tahoma, serif;
}
.datetime{
    display: grid;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    font-size: 2vw;
    font-weight: 100;
    font-family: Verdana, Geneva, Tahoma, serif;
}